@font-face {
  font-family: 'Franchise';
  src: url('font/Franchise.ttf');
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Catamaran';
  src: url('font/Catamaran-Regular.ttf');
}

:root {
  --darkPurple: rgba(59,11,110,255);
  --lightPurple: rgb(70,2,143);
  --white: rgb(255, 255, 255);
}

.hide {
  display: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Catamaran', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: clamp(3.75rem, 4vw, 6.25rem);
}

.responsive-text,
#status_section > section,
#start_quiz > button,
#footer_section > button {
  font-size: clamp(1.25rem, 1vw, 1.5rem);
}

body {
  background-color: var(--darkPurple);
  height: 100vh;
  display: grid;
  place-items: center;
  cursor: default;
  user-select: none;
}

#main_container {
  position: relative;
  display: grid;
  place-items: center;
}

#quizz_container {
  background-color: var(--white);
  width: clamp(20rem, 30vw, 43rem);
  padding: max(2.5rem, 3.5vw) max(0.75rem, 2vw);
  border-radius: 2rem;
  display: grid;
  place-items: center;
  grid-gap: 1.75rem;
}

#quizz_container > * {
  width: 85%;
}

#main_heading {
  text-align: center;
  font-family: 'Franchise', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#status_section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

#status_section > * {
  color: var(--white);
  padding: 0.25rem;
  border-radius: 10px;
}

#prize_status {
  color: #121212;
  background-color: gold;
  flex: 3 1 auto;
}

#time_status {
  color: var(--white);
  background-color: gray;
  flex: 1 1 auto;
}

:is(#time_status, #prize_status) {
  text-align: center;
}

#questions_and_options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#questions_and_options :is(:not(#question)), #startup_caption {
  text-align: center;
}

#answer_checker {
  display: none;
  font-weight: 800;
}

:is(#answer_checker.show-correct-answer-checker, #answer_checker.show-wrong-answer-checker) {
  display: block;
}

#answer_checker.show-correct-answer-checker {
  color: rgb(0, 135, 0);
}

#answer_checker.show-wrong-answer-checker {
  color: rgb(150, 0, 0);
}

#footer_section.show-footer-section {
  display: flex;
}

#options_container > *.mark-correct-option {
  --correct-mark: rgb(0, 135, 0);
  color: white;
  background-color: var(--correct-mark);
  border: solid 1px var(--correct-mark);
}

#options_container > *.mark-wrong-option {
  --wrong-mark: rgb(150, 0 ,0);
  color: white;
  background-color: var(--wrong-mark);
  border: solid 1px var(--wrong-mark);
}

:where(#options_container) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  list-style-type: none;
}

#options_container > li {
  color: var(--darkPurple);
  border: solid 2px var(--darkPurple);
  font-weight: 700;
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#options_container >  li.hide,
#questions_and_options.hide,
#status_section.hide {
  display: none;
}

#start_quiz {
  display: flex;
}

#footer_section {
  display: none;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
}

#reset_button, #next_button, #start_button {
  color: var(--white);
  background-color: var(--darkPurple);
  border: none;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  flex-grow: 1;
}